{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Two major types of lung cancer are non-small cell lung cancer and small cell lung cancer. Causes of lung cancer include smoking, secondhand smoke, exposure to certain toxins, and family history.
Symptoms include cough (often with blood), chest pain, wheezing, and weight loss. These symptoms often don't appear until the cancer is advanced.
Treatments vary but may include surgery, chemotherapy, radiation therapy, targeted drug therapy, and immunotherapy.</p>
<p>So it's important to know your lungs' status. But it's hard to check the lung CT image for most people.
    By using this application, you can easily know your lung's status even if you lack how to look in CT image.</p>

{% endblock %}
